# Bibliotek

In [1]:
import os
import collections
import re
import time
from tqdm import tqdm # for displaying progress bar
from multiprocess import Pool
from utils import file_read, word_search
import itertools
import pandas as pd

# Indhent søgeord fra excel-fil

In [2]:
# indhent søgeord fra excel-fil
data = pd.read_excel("Søgeord.xlsx")
searchwordslist = list(data.Søgeord)
searchwordslist

['economy',
 'covid',
 'sustainability',
 'ukraine',
 'france',
 'ukrainian',
 'sustainability',
 'emission']

## Tekst-søgning

In [3]:
# folder
folder = "Årsrapporter/"

In [4]:
# tekstdokumenter
textlist = os.listdir(folder)
textlist

['A.P. Møller - Mærsk annual.txt',
 'ALK-Abello annual.txt',
 'Alm. brand annual.txt',
 'Ambu annual.txt',
 'Bavarian Nordic annual.txt',
 'Bestseller annual.txt',
 'Boozt annual.txt',
 'Carlsberg annual.txt',
 'ChemoMetec annual.txt',
 'Chr. Hansen Holding annual.txt',
 'Coloplast annual.txt',
 'Danske bank annual.txt',
 'Demant annual.txt',
 'DFDS annual.txt',
 'DSB annual.txt',
 'DSV annual.txt',
 'FLSmidth annual.txt',
 'Genmab annual.txt',
 'GN Store Nord annual.txt',
 'H. Lundbeck annual.txt',
 'ISS annual.txt',
 'Jeudan annual.txt',
 'Jyske Bank annual.txt',
 'Københavns Lufthavne annual.txt',
 'MATAS annual.txt',
 'Netcompany annual.txt',
 'NKT annual.txt',
 'Nordea Bank annual.txt',
 'Novo Nordisk annual.txt',
 'Novozymes annual.txt',
 'NTG Nordic Transport Group annual.txt',
 'Pandora annual.txt',
 'Q8 annual.txt',
 'Ringkjøbing Landbobank annual.txt',
 'Rockwool annual.txt',
 'Royal Greenland annual.txt',
 'Royal Unibrew annual.txt',
 'Salling Group annual.txt',
 'SAS annual.txt',
 'Scandinavian Tobacco Group annual.txt',
 'Schouw & Co annual.txt',
 'Simcorp annual.txt',
 'Spar Nord annual.txt',
 'Sydbank annual.txt',
 'The Drilling Company of 1972 annual.txt',
 'Topdanmark annual.txt',
 'Tryg annual.txt',
 'Vestas annual.txt',
 'Zealand Pharma annual.txt',
 'Össur hf annual.txt',
 'Ørsted annual.txt']

In [5]:
tic = time.time()

# konvertér søgeordslsite + foldername til lister som er lige så lange som mappens indhold
searchwordslist = [searchwordslist]*len(textlist)
folderlist = [folder]*len(textlist)

func_arguments = list(zip(folderlist, textlist,searchwordslist))

max_pool = 4  # sæt antallet a processors 
with Pool(max_pool) as p:
    pool_outputs = list(
        tqdm(
            p.starmap(file_read, func_arguments),
            total=len(textlist)
        )
    )   
    
output_dict = dict(pool_outputs)
toc = time.time()
paralleltime = toc-tic
print(f"Time ellapsed: {paralleltime:.2f} seconds")

100%|██████████████████████████████████████████████████████████████████████████████████████████| 51/51 [00:00<?, ?it/s]

Time ellapsed: 3.01 seconds

In [6]:
df = pd.DataFrame(output_dict).T
df

,economy,covid,sustainability,ukraine,france,ukrainian,emission
A.P. Møller - Mærsk annual.txt,3,64,42,0,3,0,0
ALK-Abello annual.txt,0,54,19,0,4,0,0
Alm. brand annual.txt,0,20,0,0,0,0,0
Ambu annual.txt,0,29,17,0,1,0,6
Bavarian Nordic annual.txt,0,40,2,0,0,0,0
Bestseller annual.txt,0,10,12,0,11,0,0
Boozt annual.txt,1,9,104,0,1,0,8
Carlsberg annual.txt,1,135,35,12,15,1,1
ChemoMetec annual.txt,0,27,0,0,1,0,0
Chr. Hansen Holding annual.txt,1,24,48,2,4,0,1
Coloplast annual.txt,3,62,53,1,14,0,4
Danske bank annual.txt,2,4,45,0,12,0,0
Demant annual.txt,0,8,32,0,13,0,2
DFDS annual.txt,2,121,9,0,21,0,9
DSB annual.txt,12,72,18,0,0,0,3
DSV annual.txt,5,54,7,2,7,0,2
FLSmidth annual.txt,5,43,37,0,1,0,2
Genmab annual.txt,0,22,14,0,0,0,0
GN Store Nord annual.txt,0,79,10,0,4,0,0
H. Lundbeck annual.txt,0,13,20,0,6,0,1
ISS annual.txt,1,162,6,1,55,0,0
Jeudan annual.txt,0,27,0,0,0,0,2
Jyske Bank annual.txt,6,57,32,0,0,0,10
Københavns Lufthavne annual.txt,1,43,1,0,0,0,14
MATAS annual.txt,0,24,5,0,1,0,0
Netcompany annual.txt,2,30,0,0,1,0,0
NKT annual.txt,5,57,19,0,2,0,1
Nordea Bank annual.txt,11,102,56,0,6,0,0
Novo Nordisk annual.txt,1,61,32,2,9,0,5
Novozymes annual.txt,3,63,44,0,2,0,4
NTG Nordic Transport Group annual.txt,4,15,2,3,3,0,2
Pandora annual.txt,2,75,13,0,7,0,1
Q8 annual.txt,1,4,15,0,0,0,0
Ringkjøbing Landbobank annual.txt,3,5,1,0,0,0,0
Rockwool annual.txt,5,25,24,3,6,0,8
Royal Greenland annual.txt,1,48,29,0,2,0,2
Royal Unibrew annual.txt,0,50,44,0,14,0,15
Salling Group annual.txt,0,30,1,0,0,0,0
SAS annual.txt,5,84,482,0,0,0,30
Scandinavian Tobacco Group annual.txt,0,21,2,0,13,0,0
Schouw & Co annual.txt,3,0,3,0,14,0,0
Simcorp annual.txt,0,28,10,7,11,1,3
Spar Nord annual.txt,8,51,7,0,0,0,0
Sydbank annual.txt,5,40,12,0,0,0,0
The Drilling Company of 1972 annual.txt,6,32,61,0,0,0,9
Topdanmark annual.txt,0,42,0,0,0,0,0
Tryg annual.txt,6,66,3,0,0,0,1
Vestas annual.txt,1,28,159,4,5,0,7
Zealand Pharma annual.txt,0,17,5,0,2,0,0
Össur hf annual.txt,1,37,11,0,13,0,5
Ørsted annual.txt,6,48,16,1,1,0,29

# Output søgeresult

In [7]:
from datetime import datetime
name = datetime.now().strftime("%d/%m/%Y, %H:%M:%S")
filename = "Tekstsøgninger/Årsrapporter tekstsøgning " + name.replace("/","_").replace(", ","__").replace(":","_")
filename

'Tekstsøgninger/Årsrapporter tekstsøgning 25_02_2022__11_45_43'

In [8]:
df.to_csv(filename + ".csv", encoding = "utf-8")